html, body {
  margin: 0;
  padding: 0;
}
.phone-container {
  background: linear-gradient(#11ecd6, #71f3e6, #ec11c7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;

  }
  
  .card {
    padding: 20px 0px 0px 0px;
    width: 200px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   background: linear-gradient(293deg, rgb(110, 231, 247) 0%, rgb(250, 252, 252) 100%);
   border-radius: 3%;
   margin: 10px 10px 30px 10px;
  
  }
  
  .img {
    width: 100%;
    height: auto;
  }
  .name {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
  }
  
  .price {
    margin-top: 10px;
    color: #009688;
    text-align: center;
  }

  .ram{
    text-align: center;
    font-size: 12px;
  }

  @media (max-width: 768px) {
   html,body{
    height: auto;

   }
    .card {
      width: 45%;
    }
  }
  @media (max-width: 576px) {
    html,body{
      height: auto;
    }
    .card {
      width: 100%;
    }
  }